# This file assumes bosh_exporter based Service Discovery is being used: ./monitor-bosh.yml

# Exporter jobs
- type: replace
  path: /instance_groups/name=prometheus/jobs/-
  value:
    name: haproxy_exporter
    release: prometheus
    properties:
      haproxy_exporter:
        haproxy:
          pid_file: "((haproxy_pid_file))"
          scrape_uri: "((haproxy_scrape_uri))"

# Prometheus Alerts
- type: replace
  path: /instance_groups/name=prometheus/jobs/name=haproxy_alerts?/release
  value: prometheus

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/rule_files/-
  value: /var/vcap/jobs/haproxy_alerts/*.alerts

# Grafana Dashboards
- type: replace
  path: /instance_groups/name=grafana/jobs/name=haproxy_dashboards?/release
  value: prometheus

- type: replace
  path: /instance_groups/name=grafana/jobs/name=grafana/properties/grafana/prometheus/dashboard_folders/name=HAProxy?/files/-
  value: /var/vcap/jobs/haproxy_dashboards/*.json
