# This file assumes bosh_exporter based Service Discovery is being used: ./monitor-bosh.yml

# Exporter jobs
- type: replace
  path: /instance_groups/name=prometheus2/jobs/-
  value:
    name: memcached_exporter
    release: prometheus
    properties:
      memcached_exporter:
        memcached:
          address: "((memcached_address))"
  
