# This file assumes bosh_exporter based Service Discovery is being used: ./monitor-bosh.yml

# Exporter jobs
- type: replace
  path: /instance_groups/name=prometheus2/jobs/-
  value:
    name: consul_exporter
    release: prometheus
    properties:
      consul_exporter:
        consul_server: "((consul_server))"

# Prometheus Alerts
- type: replace
  path: /instance_groups/name=prometheus2/jobs/name=consul_alerts?/release
  value: prometheus

- type: replace
  path: /instance_groups/name=prometheus2/jobs/name=prometheus2/properties/prometheus/rule_files/-
  value: /var/vcap/jobs/consul_alerts/*.alerts.yml

# Grafana Dashboards
- type: replace
  path: /instance_groups/name=grafana/jobs/name=consul_dashboards?/release
  value: prometheus

- type: replace
  path: /instance_groups/name=grafana/jobs/name=grafana/properties/grafana/prometheus/dashboard_folders/name=Consul?/files/-
  value: /var/vcap/jobs/consul_dashboards/*.json
