# Prometheus Scrape Config
- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: bosh
    scrape_interval: 2m
    scrape_timeout: 1m
    static_configs:
    - targets: 
      - localhost:9190 # bosh_exporter

# Exporter jobs
- type: replace
  path: /instance_groups/name=prometheus/jobs/-
  value: 
    name: bosh_exporter
    release: prometheus
    properties:
      bosh_exporter:
        metrics:
          environment: ((metrics_environment))
        bosh:
          url: ((bosh_url))
          username: ((bosh_username))
          password: ((bosh_password))
          ca_cert: ((bosh_ca_cert))

# Grafana Dashboards
- type: replace
  path: /instance_groups/name=grafana/jobs/-
  value: 
    name: bosh_dashboards
    release: prometheus

- type: replace
  path: /instance_groups/name=grafana/jobs/name=grafana/properties/grafana/prometheus/dashboard_files/-
  value: /var/vcap/packages/bosh_dashboards/*.json

# Prometheus Alerts
- type: replace
  path: /instance_groups/name=prometheus/jobs/-
  value: 
    name: bosh_alerts
    release: prometheus

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/rule_files/-
  value: /var/vcap/packages/bosh_alerts/*.alerts

# Alertmanager Grouping
- type: replace
  path: /instance_groups/name=alertmanager/jobs/name=alertmanager/properties/alertmanager/route/group_by?/-
  value: bosh_deployment

- type: replace
  path: /instance_groups/name=alertmanager/jobs/name=alertmanager/properties/alertmanager/route/group_by?/-
  value: bosh_job_name

# Service Discovery
- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: bosh_tsdb
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: bosh_tsdb_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9194"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: cadvisor
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: cadvisor
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:8080"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: cf
    scrape_interval: 4m
    scrape_timeout: 2m
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: cf_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9193"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: collectd
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: collectd_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9103"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: consul
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: consul_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9107"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: elasticsearch
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: elasticsearch_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9114"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: firehose
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: firehose_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9186"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: github
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: github_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9171"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: graphite
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: graphite_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9108"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: haproxy
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: haproxy_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9101"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: kubernetes
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: kube_state_metrics_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9188"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: memcached
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: memcached_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9150"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: mongodb
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: mongodb_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9001"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: nats
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: nats_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9118"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: node
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: node_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9100"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: postgres
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: postgres_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9187"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/job_name=prometheus
  value: 
    job_name: prometheus
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: prometheus
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9090"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: pushgateway
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: pushgateway
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9091"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: rabbitmq
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: rabbitmq_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9125"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: redis
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: redis_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9121"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: shield
    scrape_interval: 4m
    scrape_timeout: 2m
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: shield_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9179"

- type: replace
  path: /instance_groups/name=prometheus/jobs/name=prometheus/properties/prometheus/scrape_configs/-
  value: 
    job_name: statsd
    file_sd_configs:
    - files:
      - "/var/vcap/store/bosh_exporter/bosh_target_groups.json"
    relabel_configs:
    - source_labels:
      - __meta_bosh_job_process_name
      regex: statsd_exporter
      action: keep
    - source_labels:
      - __address__
      regex: "(.*)"
      target_label: __address__
      replacement: "${1}:9102"
