config/dev.yml
config/private.yml
config/settings.yml
releases/*.tgz
dev_releases
blobs/*
.blobs
.dev_builds
.vagrant
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*
tmp
my*.yml
