[submodule "src/github.com/kubernetes/kube-state-metrics"]
	path = src/github.com/kubernetes/kube-state-metrics
	url = https://github.com/kubernetes/kube-state-metrics
[submodule "src/grafana_plugins/piechart-panel"]
	path = src/grafana_plugins/piechart-panel
	url = https://github.com/grafana/piechart-panel.git
[submodule "src/grafana_plugins/clock-panel"]
	path = src/grafana_plugins/clock-panel
	url = https://github.com/grafana/clock-panel.git
[submodule "src/grafana_plugins/worldmap-panel"]
	path = src/grafana_plugins/worldmap-panel
	url = https://github.com/grafana/worldmap-panel.git
[submodule "src/grafana_plugins/worldping-app"]
	path = src/grafana_plugins/worldping-app
	url = https://github.com/raintank/worldping-app.git
[submodule "src/grafana_plugins/grafana-histogram-panel"]
	path = src/grafana_plugins/grafana-histogram-panel
	url = https://github.com/mtanda/grafana-histogram-panel.git
[submodule "src/grafana_plugins/grafana-diagram"]
	path = src/grafana_plugins/grafana-diagram
	url = https://github.com/jdbranham/grafana-diagram.git
[submodule "src/grafana_plugins/Grafana_Status_panel"]
	path = src/grafana_plugins/Grafana_Status_panel
	url = https://github.com/Vonage/Grafana_Status_panel.git
