[submodule "src/github.com/cloudfoundry-community/firehose_exporter"]
	path = src/github.com/cloudfoundry-community/firehose_exporter
	url = https://github.com/cloudfoundry-community/firehose_exporter.git
[submodule "src/github.com/infinityworksltd/github-exporter"]
	path = src/github.com/infinityworksltd/github-exporter
	url = https://github.com/infinityworksltd/github-exporter.git
[submodule "src/github.com/kubernetes/kube-state-metrics"]
	path = src/github.com/kubernetes/kube-state-metrics
	url = https://github.com/kubernetes/kube-state-metrics
[submodule "src/github.com/wrouesnel/postgres_exporter"]
	path = src/github.com/wrouesnel/postgres_exporter
	url = https://github.com/wrouesnel/postgres_exporter
