global:
  <% if_p('prometheus.scrape_interval') do |scrape_interval| %>
  # How frequently to scrape targets by default.
  scrape_interval: <%= scrape_interval %>
  <% end %>

  <% if_p('prometheus.scrape_timeout') do |scrape_timeout| %>
  # How long until a scrape request times out.
  scrape_timeout: <%= scrape_timeout %>
  <% end %>

  <% if_p('prometheus.evaluation_interval') do |evaluation_interval| %>
  # How frequently to evaluate rules by default.
  evaluation_interval: <%= evaluation_interval %>
  <% end %>

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels: <%= p('prometheus.external_labels', {}).to_json %>

# Rule files specifies a list of files from which rules are read.
rule_files: <%= p('prometheus.rule_files', []).push('/var/vcap/jobs/prometheus/config/custom.rules').to_json %>

# A list of scrape configurations.
scrape_configs: <%= p('prometheus.scrape_configs', []).to_json %>

# Alerting specifies settings related to the Alertmanager.
alerting: <%= p('prometheus.alerting', {}).to_json %>

<%
  if_link('influxdb') do |influxdb_link|
    influxdb_host     = influxdb_link.instances.first.address
    influxdb_database = influxdb_link.p("influxdb.database")
    influxdb_username = influxdb_link.p("influxdb.user")
    influxdb_password = influxdb_link.p("influxdb.password")

    p('prometheus.remote_write')[0][:url] = "http://#{influxdb_host}:8086/api/v1/prom/write?db=#{influxdb_database}&u=#{influxdb_username}&p=#{influxdb_password}"
    p('prometheus.remote_read')[0][:url] = "http://#{influxdb_host}:8086/api/v1/prom/read?db=#{influxdb_database}&u=#{influxdb_username}&p=#{influxdb_password}"

  end
%>

<% if_p('prometheus.remote_write') do |remote_write| %>
# Settings related to the experimental remote write feature.
remote_write: <%= remote_write.to_json %>
<% end %>

<% if_p('prometheus.remote_read') do |remote_read| %>
# Settings related to the experimental remote read feature.
remote_read: <%= remote_read.to_json %>
<% end %>
